/* Content should be visible behind navbar */
body {
    padding-top: 60px;
}

@media (min-width: 1200px) {
    body {
        padding-top: 70px;
    }
}

.limit-height {
    height: 25em;
    overflow: scroll;
}

.vertical-center {
    vertical-align: middle !important;
}