<section data-ng-controller="ChallengesController">
    <div class="well">
        <h2>Challenge</h2>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <h3 class="col-sm-6">Outstanding Challenges</h3>
                <div class="col-sm-2 col-md-3"></div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <a href="/#!/challenges/create" class="btn btn-primary btn-block">Send Challenge</a>
                </div>
            </div>
            <hr>
            <table class="table">
                <tr>
                    <th>
                        Sent
                    </th>
                    <th>
                        Opponent
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        # Questions
                    </th>
                    <th>
                        Time Multiplier
                    </th>
                    <th colspan="2">
                        Actions
                    </th>
                </tr>
                <tr ng-repeat="challenge in challenges" ng-class="{'warning': challenge.from._id !== authentication.user._id}">
                    <td class="vertical-center">
                        {{ challenge.created | date : 'mediumDate' }}
                    </td>
                    <td class="vertical-center">
                        <span ng-if="challenge.from._id === authentication.user._id">{{ challenge.to.displayName }}</span>
                        <span ng-if="challenge.from._id !== authentication.user._id">{{ challenge.from.displayName }}</span>
                    </td>
                    <td class="vertical-center">
                        {{ subjects[challenge.quiz.subject] }}
                    </td>
                    <td class="vertical-center">
                        {{ challenge.quiz.questions.length }}
                    </td>
                    <td class="vertical-center">
                        {{ times[challenge.time] }}
                    </td>
                    <td class="vertical-center">
                        <a href class="btn btn-primary btn-xs" ng-click="accept(challenge)" ng-if="challenge.from._id !== authentication.user._id">
                            <i class="mdi-action-done"></i>
                        </a>
                    </td>
                    <td class="vertical-center">
                        <a href class="btn btn-danger btn-xs" ng-click="delete(challenge)" ng-if="challenge.from._id === authentication.user._id">
                            <i class="mdi-action-delete"></i>
                        </a>
                        <a href class="btn btn-danger btn-xs" ng-click="decline(challenge)" ng-if="challenge.from._id !== authentication.user._id">
                            <i class="mdi-content-clear"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>