<section ng-controller="SettingsController">
    <div class="well">
        <h2>Manage Social Accounts</h2>
        <hr>
        <div class="container-fluid">
            <div ng-if="hasConnectedAdditionalSocialAccounts()">
                <h3>Remove Social Accounts</h3>
                <hr>
                <p>Click a social account icon to remove it from your account.</p>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-md-2 col-md-offset-3">
                        <a href ng-click="removeSocialAccount('facebook')" class="undecorated-link" ng-if="isConnectedSocialAccount('facebook')">
                            <img class="img-responsive center-block" src="/modules/users/img/buttons/facebook.png">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <a href ng-click="removeSocialAccount('twitter')" class="undecorated-link" ng-if="isConnectedSocialAccount('twitter')">
                            <img class="img-responsive center-block" src="/modules/users/img/buttons/twitter.png">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <a href ng-click="removeSocialAccount('google')" class="undecorated-link" ng-if="isConnectedSocialAccount('google')">
                            <img class="img-responsive center-block" src="/modules/users/img/buttons/google.png">
                        </a>
                    </div>
                </div>
                <hr>
            </div>
            <div ng-if="!isConnectedSocialAccount('facebook') || !isConnectedSocialAccount('twitter') || !isConnectedSocialAccount('google')">
                <h3>Add Social Accounts</h3>
                <hr>
                <p>Click a social account icon to connect it to your account.</p>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-md-2 col-md-offset-3">
                        <a href="/auth/facebook" class="undecorated-link" ng-if="!isConnectedSocialAccount('facebook')">
                            <img class="img-responsive center-block" src="/modules/users/img/buttons/facebook.png">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <a href="/auth/twitter" class="undecorated-link" ng-if="!isConnectedSocialAccount('twitter')">
                            <img class="img-responsive center-block" src="/modules/users/img/buttons/twitter.png">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <a href="/auth/google" class="undecorated-link" ng-if="!isConnectedSocialAccount('google')">
                            <img class="img-responsive center-block" src="/modules/users/img/buttons/google.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>